@import url("../node_modules/@material/button/styles.scss");
body {
  overflow: hidden !important;
}
.list-title {
  font-size: 22px;
  margin-block: 8px;
  margin-inline: 0;
}
.fix-scrollbar > .MuiPaper-elevation {
  scrollbar-width: none !important;
}
.search-btn {
  border-radius: 0 16px 16px 0 !important;
  border-color: #0000003b !important;
  color: black !important;
}
.specified-btn .search-btn {
  color: white !important;
  border-color: #ffffff3b !important;
}
.specified-btn .search-btn:hover {
  background-color: #ffffff14 !important;
}
.search-btn:hover {
  background-color: #1976d2 !important;
  color: white !important;
}
#e0.active,
#e1.active,
#e2.active,
#e3.active,
#e4.active,
#e5.active,
#e6.active,
#e7.active,
#e8.active,
#e9.active,
#e10.active {
  background: var(--PasGo-Blue-20, #e8f1ff);
}
.specified-focus {
  #e0.active,
  #e1.active,
  #e2.active,
  #e3.active,
  #e4.active,
  #e5.active,
  #e6.active,
  #e7.active,
  #e8.active,
  #e9.active,
  #e10.active {
    background: #ffffff14;
  }
}
.tgl-btn {
  color: black;
  border: 1px solid !important;
  margin-inline: 8px !important;
  border-radius: 8px !important;
}
.rug {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 16px;
  .imgAdd-btn {
    padding: 20px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    .imgAdd-btn-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .rug-items.__card {
    display: flex !important;
    gap: 16px !important;
    min-height: 0 !important;
    margin: 0 !important;
    .rug-item {
      .rug-card {
        height: 100px;
        width: 100px;
        margin: 0;
        .rug-card-refresh {
          display: none !important;
        }
      }
    }
  }
}
.ck-content {
  min-height: 150px !important;
  max-height: 300px !important;
}
