@import url("../node_modules/@material/button/styles.scss");
body {
  overflow: hidden !important;
}

.list-title {
  font-size: 22px;
  margin-block: 8px;
  margin-inline: 0;
}

.fix-scrollbar > .MuiPaper-elevation {
  scrollbar-width: none !important;
}

.search-btn {
  border-radius: 0 16px 16px 0 !important;
  border-color: rgba(0, 0, 0, 0.231372549) !important;
  color: black !important;
}

.specified-btn .search-btn {
  color: white !important;
  border-color: rgba(255, 255, 255, 0.231372549) !important;
}

.specified-btn .search-btn:hover {
  background-color: rgba(255, 255, 255, 0.0784313725) !important;
}

.search-btn:hover {
  background-color: #1976d2 !important;
  color: white !important;
}

#e0.active,
#e1.active,
#e2.active,
#e3.active,
#e4.active,
#e5.active,
#e6.active,
#e7.active,
#e8.active,
#e9.active,
#e10.active {
  background: var(--PasGo-Blue-20, #e8f1ff);
}

.specified-focus #e0.active,
.specified-focus #e1.active,
.specified-focus #e2.active,
.specified-focus #e3.active,
.specified-focus #e4.active,
.specified-focus #e5.active,
.specified-focus #e6.active,
.specified-focus #e7.active,
.specified-focus #e8.active,
.specified-focus #e9.active,
.specified-focus #e10.active {
  background: rgba(255, 255, 255, 0.0784313725);
}

.tgl-btn {
  color: black;
  border: 1px solid !important;
  margin-inline: 8px !important;
  border-radius: 8px !important;
}

.rug {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 16px;
}
.rug .imgAdd-btn {
  padding: 20px;
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rug .imgAdd-btn .imgAdd-btn-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rug .rug-items.__card {
  display: flex !important;
  gap: 16px !important;
  min-height: 0 !important;
  margin: 0 !important;
}
.rug .rug-items.__card .rug-item .rug-card {
  height: 120px;
  width: 120px;
  margin: 0;
}
.rug .rug-items.__card .rug-item .rug-card .rug-card-refresh {
  display: none !important;
}

.ck-content {
  min-height: 150px !important;
  max-height: 300px !important;
}

.limit {
  width: 100%;
  position: relative;
  margin-top: 8px;
}
.limit #l-input {
  width: 100%;
  display: flex;
  padding: 14px 16px;
  align-items: center;
  font-size: 16px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--PasGo-Ink-20, #dae1f5);
}
.limit #l-input:hover {
  border-color: black;
}
.limit #l-input:focus-visible {
  outline: 0;
  box-shadow: none;
  border: #1976d2 2px solid;
}
.limit .l-index {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
}
.limit .l-index span {
  font-size: 16px;
  color: var(--PasGo-Black-40, rgba(43, 47, 51, 0.4));
}

#RuleContent {
  max-width: 100%;
  min-width: 100%;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid var(--PasGo-Ink-20, #dae1f5);
  margin-top: 8px;
}

#RuleContent:hover {
  border-color: black;
}

#RuleContent:focus-visible {
  outline: 0;
  box-shadow: none;
  border: #1976d2 2px solid;
}

.menu {
  border: 1px solid gray;
  border-radius: 4px;
}

.menu-right {
  left: 100% !important;
  top: -13px !important;
}

.dish-list {
  padding: 0;
  margin: 0;
}

#openModal {
  width: 250px;
  display: flex;
  padding: 14px 16px;
  align-items: center;
  font-size: 16px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--PasGo-Ink-20, #dae1f5);
  cursor: pointer;
}

#openModal:hover {
  border-color: black;
}

#openModal:focus-visible {
  outline: 0;
  box-shadow: none;
  border: #1976d2 2px solid;
}

/*# sourceMappingURL=style.css.map */
